#root {
  margin: 16px;
  background-color: black;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

.fighter-card {
  list-style: none;
  margin: 8px;
  padding: 8px;
  border: whitesmoke 3px solid;
  border-radius: 8px;
  color: white;
}

h1 {
  color: white;
}

.team-status {
  color: white;
  font-size: 12px;
  margin-bottom: 8px;
}

h3,
p {
  font-size: 16px;
  margin: 10px 0;
}

.team-member {
  list-style: none;
  display: inline-block;
  margin: 8px;
  padding: 8px;
  border: rgb(191, 255, 113) 3px solid;
  border-radius: 8px;
  color: white;
}

.team-members {
  list-style: none;
  display: inline-block;
  margin: 8px;
  padding: 8px;
  border: rgb(110, 239, 213) 3px solid;
  border-radius: 8px;
  color: white;
}
